head
  title BozonWeb Business
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width", initial-scale="1")
  meta(name="description", content="BozonWeb site is cool")
  link(rel="stylesheet" href="css/style.css")
